body {
    margin: 0;
}

.form-submit-button{
    padding: 0.3rem;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0.5rem;
    padding-left: 2rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.navbar{
    display: flex;
    flex-direction: row;
    font-size: 3rem;
    margin: 0;
    background: lightblue;
}

.first-site-h1{
    padding-left: 2rem;
}

.prev-next-nav{
    margin: 0;
    padding: 2rem;
    padding-left: 0rem;
    font-size: 2rem;
}

.all-todos{
    padding-left: 2rem;
}

.delete-edit-buttons{
    display: flex;
}

.title-of-todo{
    margin: 0;
    padding-bottom: 0.7rem;
    padding-top: 0.7rem;
}

.description-of-todo{
    margin: 0;
}


@media only screen and (max-width: 800px){
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    ul {
        margin: 0;
        padding: 0.5rem;
        padding-left: 2rem;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}
