<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>

<body>
    <nav class="navbar">
        <div class="flexbox">
            <ul>
                <li><a href="{{ url_for('simple_pages.index') }}">Home</a></li>
                <li><a href="{{ url_for('todo.show_todos') }}">Show all Todos</a></li>
                <li><a href="{{ url_for('todo.create_todo_form') }}">Create new Todo</a></li>
            </ul>
        </div>
    </nav>
    {% block body %}{% endblock %}
</body>

</html>

